flask==2.2.3
folium==0.14.0
geopy==2.3.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.1
pdf2image==1.16.3
plotly==5.14.1
pypdf==3.8.1
pytesseract==0.3.10
pytz==2023.3
requests==2.29.0
scikit-learn==1.2.2
statsmodels==0.14.0
streamlit==1.22.0
streamlit-folium==0.11.1
gunicorn==20.1.0